/.env
/.env.backup
/.env.production
/node_modules
/vendor
/.phpunit.cache
/.phpunit.result.cache
/database/*.sqlite
/database/*.sqlite-journal
/public/storage
/public/hot
/storage/*.key
/storage/pail
/storage/app/*
!storage/app/.gitkeep
/storage/app/public/*
!storage/app/public/.gitkeep
/storage/app/laravel-excel
/storage/framework/cache/data/*
!storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!storage/framework/testing/.gitkeep
/storage/framework/views/*
!storage/framework/views/.gitkeep
/storage/logs/*
!storage/logs/.gitkeep
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
/.nova
/.DS_Store
Thumbs.db
/.kilo
/bootstrap/cache/*
!bootstrap/cache/.gitkeep
